!!! XML
%rss{"version" => "2.0"}
  %channel
    %title= "#{Aerial.config.title}"
    %link= "#{base_url}"
    %language= "en-us"
    %ttl= "40"
    %description= "#{Aerial.config.subtitle}"
    - @articles.each do |article|
      %item
        %title= article.title
        %link= full_hostname(article.permalink)
        %description= article.body_html
        %pubDate= article.publish_date
        %guid{"isPermaLink" => "false"}= article.id
