!!! Strict
%html
  %head
    %title= page_title
    %script{ 'type' => "text/javascript", :src => "/javascripts/jquery-1.3.1.min.js" }
    %script{ 'type' => "text/javascript", :src => "/javascripts/jquery.template.js" }
    %script{ 'type' => "text/javascript", :src => "/javascripts/application.js" }
    %link{:href => '/style.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "#{base_url}/feed", :rel => 'alternate', :type => 'application/atom+xml', :title => "Feed for #{}" }
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= Aerial.config.title
            %span
              =Aerial.config.subtitle
      #content= yield
      #sidebar= partial :sidebar
      #footer
        %p#legal= "&copy; #{Time.now.strftime('%Y')} #{Aerial.config.author}"
        %p#powered= "powered by <a href='http://github.com/mattsears/aerial' title='Aerial'>Aerial</a>"
